<a href="https://colab.research.google.com/github/YuthikaKhedwal/python/blob/main/1906150labtest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1-Write a program that prompts the user to enters the roll numbers of the student from the keyboard and then convert it into the binary and display it.

In [9]:
print('Yuthika Khedwal')
print('1906150')

def DeciToBin_1906088(roll_digit):
  if(roll_digit=='0'): return "0000"
  elif(roll_digit=='1'): return "0001"
  elif(roll_digit=='2'): return "0010"
  elif(roll_digit=='3'): return "0011"
  elif(roll_digit=='4'): return "0100"
  elif(roll_digit=='5'): return "0101"
  elif(roll_digit=='6'): return "0110"
  elif(roll_digit=='7'): return "0111"
  elif(roll_digit=='8'): return "1000"
  else:
    return "1001"

n= str(input('Enter the roll number'))
for i in n:
  print(DeciToBin_1906088(i),end = ' ')

Yuthika Khedwal
1906150
Enter the roll number1906150
0001 1001 0000 0110 0001 0101 0000

Q2- Write a program to display the following string . (String must be your first name and it should be user input from the keyboard and loop should run up to the length of the first name)

In [15]:
print('Yuthika Khedwal')
print('1906150')
s = input("Enter your name : ")
l = len(s)
flag = False
counter = 0
for i in range (0,l) :
    print(s[:l-counter])
    if(counter+2>=l): flag = True
    if(flag == False):
        counter = counter+2;
    else:
        counter = counter-2;

Yuthika Khedwal
1906150
Enter your name : Yuthika
Yuthika
Yuthi
Yut
Y
Yut
Yuthi
Yuthika

Q3- Using List , write a menu driven program for the following operation for the Queue. enqueue(data) delete_queue() display Note: Queue name must be represented as "queue_roll"

In [ ]:
q=[]
def Enqueue_1906150():
    if len(q)==size: 
        print("Queue is Full!!!!")
    else:
        element=input("Enter the element:")
        q.append(element)
        print(element,"is added to the Queue!")
def dequeue_1906150():
    if not q:# or if len(stack)==0
        print("Queue is Empty!!!")
    else:
        e=q.pop(0)
        print("element removed!!:",e)
def display_1906150():
    print(q)
    
size=int(input("Enter the size of Queue:"))
while True:
    print("Select the Operation:\n1.Add\n 2.Delete\n 3. Display\n 4. Quit\n")
    choice=int(input())
    if choice==1:
        Enqueue_1906150()
    elif choice==2:
        dequeue_1906150()
    elif choice==3:
        display_1906150()
    elif choice==4:
        print("EXIT!!!")
        break
    else:
        print("Invalid Option!!!")

Q4- Using the parametrized constructor initialize the name, father name, date of birth and PAN number of the person and then define two method a. pan_validation_roll () b. display_roll () Note: class name must be represented as PAN_rollnumber. Validation checking (PAN number must be 10 digit and 6th to 9th character must be number as shown in the figure, date of birth must be as DD/MM/YYYY)

In [ ]:
from tabulate import tabulate
class PAN_1906150:
  
  def __init__(self):
    name='nil'
    fname='nil'
    dob=0
    pan='nil'

  def getdata_1906150(self):
    self.name=input("Enter name: ")
    self.fname=input("Enter father's name: ")
    self.dob=input("Enter dob(dd/mm/yyyy): ")
    self.pan=input("Enter PAN: ")

  def validation_1906150(self):
      if len(self.pan) == 10:
        if self.pan[5:9] == "8888":
          print("VALID PAN")
      else:
        print("INVALID PAN")

  def display_1906150(self):
      details=[["Name ",self.name],["Father's name ",self.fname],["Date of birth ",self.dob],["PAN",self.pan]]
      print(tabulate(details, tablefmt="grid"))

obj=PAN_1906150()
obj.getdata_1906150()
obj.validation_1906150()
obj.display_1906150()

Enter name: Yuthika
Enter father's name: Rajesh
Enter dob(dd/mm/yyyy): 16/03/2001
Enter PAN: 4443335556
+---------------+------------+
| Name          | Yuthika    |
+---------------+------------+
| Father's name | Rajesh     |
+---------------+------------+
| Date of birth | 16/03/2001 |
+---------------+------------+
| PAN           | 4443335556 |
+---------------+------------+

Q5- Create a binary matrix of size MXN(M< N) and a testing column vector of size (1X M). treat each column of the matrix A as vector x and then find the angle between each column vector of A with the testing vector y and the result is stored into a data frame df.

In [17]:
print('Yuthika Khedwal')
print('1906150')
import numpy as np
import pandas as pd
import math
matrix=[[0,0,0,1,1,0,1,1,1,0],[1,1,0,0,1,1,1,0,0,0],[0,0,0,1,0,1,0,0,0,0],[1,1,0,0,0,0,1,1,1,0],[1,1,1,1,1,0,0,0,0,0]]
y=[1,0,0,1,0,1,1,0,1,0]
lst=[]
for i in matrix:
  unit_vector_1 = i / np.linalg.norm(i)
  unit_vector_2 = y / np.linalg.norm(y)
  dot_product = np.dot(unit_vector_1, unit_vector_2)
  angle = np.arccos(dot_product)
  lst.append(math.degrees(angle))

df=pd.DataFrame()
df['angle']=lst
df

Yuthika Khedwal
1906150

       angle
0  53.130102
1  53.130102
2  50.768480
3  53.130102
4  66.421822