<a href="https://colab.research.google.com/github/YuthikaKhedwal/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a Pandas program to get the powers of an array values element-wise. Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

Expected Output:

X Y Z

0 78 84 86

1 85 94 97

2 96 89 96

3 80 83 72

4 86 86 83

In [1]:
print("1906150")
print("Yuthika Khedwal")
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

1906150
Yuthika Khedwal
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Q2.data frame

exam_data = {&#39;name&#39;: [&#39;Anastasia&#39;, &#39;Dima&#39;, &#39;Katherine&#39;, &#39;James&#39;, &#39;Emily&#39;, &#39;Michael&#39;, &#39;Matthew&#39;, &#39;Laura&#39;,
&#39;Kevin&#39;, &#39;Jonas&#39;],

&#39;score&#39;: [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

&#39;attempts&#39;: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

&#39;qualify&#39;: [&#39;yes&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;, &#39;yes&#39;, &#39;no&#39;, &#39;no&#39;, &#39;yes&#39;]}

labels = [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;, &#39;e&#39;, &#39;f&#39;, &#39;g&#39;, &#39;h&#39;, &#39;i&#39;, &#39;j&#39;]

Expected Output:

attempts name qualify score

a 1 Anastasia yes 12.5

b 3 Dima no 9.0

.... i 2 Kevin no 8.0

j 1 Jonas yes 19.0index labels.

Q2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the Sample Python dictionary data and list labels:

In [2]:
print("1906150")
print("Yuthika Khedwal")
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

1906150
Yuthika Khedwal
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Q3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

In [3]:
print("1906150")
print("Yuthika Khedwal")
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

1906150
Yuthika Khedwal
Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

Q4. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [4]:
print("1906150")
print("Yuthika Khedwal")
print("First 3 rows:")
print(df.iloc[:3])

1906150
Yuthika Khedwal
First 3 rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Q5. i. WAP to demonstrate all types of inheritance.

In [10]:
print("1906150")
print("Yuthika Khedwal")
print("Single Inheritence")  #When a child class inherits only a single parent class
class Parent:
     def func1(self):
          print("Function - 1")
class Child0(Parent):
     def func2(self):
          print("Function - 2")
ob = Child0()
ob.func1()
ob.func2()
print("_________________________________________________")
print("Multiple Inheritence") #When a child class inherits from more than one parent class.
class Parent1:
   def func1(self):
        print("Function - 1")
class Parent2:
   def func2(self):
        print("Function - 2")
class Child1(Parent1 , Parent2):
    def func3(self):
        print("Function - 3")
 
ob = Child1()
ob.func1()
ob.func2()
ob.func3()
print("_________________________________________________") 
print("Multilevel Inheritence") #When a child class becomes a parent class for another child class.
class Parent:
      def func1(self):
          print("Function - 1")
class Child2(Parent):
      def func2(self):
          print("Function - 2")
class Child3(Child2):
      def func3(self):
        print("Function - 3")

ob = Child3()
ob.func1()
ob.func2()
ob.func3()
print("_________________________________________________")

1906150
Yuthika Khedwal
Single Inheritence
Function - 1
Function - 2
_________________________________________________
Multiple Inheritence
Function - 1
Function - 2
Function - 3
_________________________________________________
Multilevel Inheritence
Function - 1
Function - 2
Function - 3
_________________________________________________

ii. Create a class student which stores name, roll number and age of a student. Derive a class test from student class, which stores marks in 5 subjects. Input and display the details of a student.
iii. Extend the program ii. to derive a class from result from classs ‘test’ which includes member function to calculate total marks and percentage of a student. Input the data for a student and display its total marks and percentage. 
iv. Extend the program ii. to include a class sports, which stores the marks in sports activity. Derive the result class from the classes ‘test’ and ‘sports’. Calculate the total marks and percentage of a student.

In [11]:
print("1906150")
print("Yuthika Khedwal")
class Student:  
    #defining constructor  
    def __init__(self):  
        self.name = input("Enter your name:")
        self.roll = int(input("Enter your roll number:"))
        self.age = int(input("Enter your age (in years):"))

class Test(Student): 
    def __init__(self):
        Student.__init__(self)
        self.m=[0,0,0,0,0]
        print("Enter your marks out of 100, for 5 subjects:")
        self.sum=0
        for i in range(5):
          self.m[i] = int(input("Enter marks: "))
          self.sum += self.m[i]
   
class Sports(Student):
    def __init__(self):
      self.sportsmarks = int(input("Enter marks in sports: "))

class Result(Test, Sports):
    def __init__(self):
      Test.__init__(self)
      Sports.__init__(self)
      self.average = (self.sum+self.sportsmarks)/6

    def displayresult(self):
        print("Details -------------------------")
        print("Name:       ",self.name)
        print("Roll Number:",self.roll)
        print("Age:        ",self.age)
        print("Marks -------------------------")
        for i in range(5):
          print("Subject",i+1,":  ",self.m[i])
        print("Sports marks:",self.sportsmarks)
        print("RESULT -------------------------")
        print("Percentage obtained:",self.average)

# Create an object of the subclass
student1 = Result()  
student1.displayresult()

1906150
Yuthika Khedwal
Enter your name:Yuthika
Enter your roll number:1906150
Enter your age (in years):21
Enter your marks out of 100, for 5 subjects:
Enter marks: 95
Enter marks: 96
Enter marks: 97
Enter marks: 98
Enter marks: 99
Enter marks in sports: 100
Details -------------------------
Name:        Yuthika
Roll Number: 1906150
Age:         21
Marks -------------------------
Subject 1 :   95
Subject 2 :   96
Subject 3 :   97
Subject 4 :   98
Subject 5 :   99
Sports marks: 100
RESULT -------------------------
Percentage obtained: 97.5

v. Create a class ‘shape’. Derive three classes from it: Circle, Triangle and Rectangle. Include the relevant data members and functions in all the classes. Find the area of each shape and display it.

In [13]:
print("1906150")
print("Yuthika Khedwal")
class shape:
  def __init__(self):
    self.t=0
    self.c=0
    self.r=0

class circle(shape):
  def __init__(self):
    shape.__init__(self)
    self.r=int(input("Enter the radius of the circle: "))
    print(3.14*(self.r**2))

class triangle(shape):
  def __init__(self):
    self.b=int(input("Enter the base of the triangle: "))
    self.h=int(input("Enter the height of the triangle: "))
    print(0.5*self.b*self.h)

class rectangle(shape):
  def __init__(self):
    self.l=int(input("Enter the length of the rectangle: "))
    self.w=int(input("Enter the width of the rectangle: "))
    print(self.l*self.w)

ob=circle()
ob=triangle()
ob=rectangle()

1906150
Yuthika Khedwal
Enter the radius of the circle: 4
50.24
Enter the base of the triangle: 3
Enter the height of the triangle: 2
3.0
Enter the length of the rectangle: 3
Enter the width of the rectangle: 4
12

vi. Create a class which stores employee name,id and salary Derive two classes from ‘Employee’ class:‘Regular’ and ‘Part-Time’. The ‘Regular’ class stores DA, HRA and basic salary. The ‘PartTime’ class stores
the number of hours and pay per hour. Calculate the salary of a regular employee and a par-time employee.

In [14]:
print("1906150")
print("Yuthika Khedwal")
class regular:
  def __init__(self):
    print("REGULAR EMPLOYEE ----------")
    self.name=input("Enter the name of the employee: ")
    self.id=input("Enter the I'd of the employee: ")
    self.basic = int(input("Enter the basic of the employee: "))

class parttime:
  def __init__(self):
    print("PART-TIME EMPLOYEE ----------")
    self.name=input("Enter the name of the employee: ")
    self.id=input("Enter the I'd of the employee: ")
    self.pph = int(input("Enter the pay per hour of the employee: "))
    self.hour = int(input("Enter the hour of work of the employee: "))

class employee(regular,parttime):
    def __init__ (self):
      regular.__init__(self)
      parttime.__init__(self)

    def display(self):
      print("Salary of regular employee per month =",self.basic + 0.08*self.basic + 0.1*self.basic)
      print("Salary of part-time employee of one day according to work hours =",self.pph*self.hour)


ob = employee()
ob.display()

1906150
Yuthika Khedwal
REGULAR EMPLOYEE ----------
Enter the name of the employee: Yuthika
Enter the I'd of the employee: 1906150
Enter the basic of the employee: 10000000
PART-TIME EMPLOYEE ----------
Enter the name of the employee: Satyajeet
Enter the I'd of the employee: 1906130
Enter the pay per hour of the employee: 200
Enter the hour of work of the employee: 6
Salary of regular employee per month = 11800000.0
Salary of part-time employee of one day according to work hours = 1200

vii. Create a class which stores account number, customer name and balance. Derive two classes from ‘Account’ class: ‘Savings’ and ‘Current’. The ‘Savings’ class stores minimum balance. The ‘Current’ class
stores the over-due amount. Include member functions in the appropriate class for -deposit money-withdraw [For saving account minimum balance should be checked.] [For current account overdue amount should be calculated.] -display balance using python.

In [ ]:
print("1906150")
print("Yuthika Khedwal")